.css-hover-lean {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 26px;
}
.css-hover-lean li {
  float: left;
}
.css-hover-lean li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #666;
}
.css-hover-lean li a span {
  display: inline-block;
  background: #dddddd;
  padding: 0 6px;
}
.css-hover-lean li a:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 0px red;
  border-right: solid 0px blue;
  border-bottom: solid 40px #dddddd;
  border-left: solid 20px transparent;
}
.css-hover-lean li a:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 40px #dddddd;
  border-right: solid 20px transparent;
  border-bottom: solid 0px blue;
  border-left: solid 0px transparent;
}
.css-hover-lean li a:hover {
  color: #fff;
}
.css-hover-lean li a:hover span {
  background: #258fb8;
}
.css-hover-lean li a:hover:before {
  border-bottom-color: #258fb8;
}
.css-hover-lean li a:hover:after {
  border-top-color: #258fb8;
}
.css-hover-lean2 {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 26px;
}
.css-hover-lean2 li {
  float: left;
}
.css-hover-lean2 li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #666;
}
.css-hover-lean2 li a span {
  display: inline-block;
  background: #dddddd;
  padding: 0 6px;
}
.css-hover-lean2 li a:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 0px red;
  border-right: solid 0px blue;
  border-bottom: solid 40px #dddddd;
  border-left: solid 10px transparent;
}
.css-hover-lean2 li a:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 40px transparent;
  border-right: solid 0px yellow;
  border-bottom: solid 0px blue;
  border-left: solid 10px #dddddd;
}
.css-hover-lean2 li a:hover {
  color: #fff;
}
.css-hover-lean2 li a:hover span {
  background: #3a7312;
}
.css-hover-lean2 li a:hover:before {
  border-bottom-color: #3a7312;
}
.css-hover-lean2 li a:hover:after {
  border-left-color: #3a7312;
}
.css-hover-lean3 {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 26px;
}
.css-hover-lean3 li {
  float: left;
}
.css-hover-lean3 li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #666;
}
.css-hover-lean3 li a span {
  display: inline-block;
  background: #dddddd;
  padding: 0 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.css-hover-lean3 li a:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 0px red;
  border-right: solid 0px blue;
  border-bottom: solid 24px #dddddd;
  border-left: solid 10px transparent;
}
.css-hover-lean3 li a:after {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 0;
  width: 0;
  line-height: 0;
  border-top: solid 24px transparent;
  border-right: solid 0px yellow;
  border-bottom: solid 0px blue;
  border-left: solid 10px #dddddd;
}
.css-hover-lean3 li a:hover {
  color: #fff;
}
.css-hover-lean3 li a:hover span {
  background: #e7422c;
}
.css-hover-lean3 li a:hover:before {
  border-bottom-color: #e7422c;
}
.css-hover-lean3 li a:hover:after {
  border-left-color: #e7422c;
}
