#css-stroke-container {font-family:MuseoSlabTumblr; font-size: 2.5em; font-style:italic; color: #fff;text-transform: capitalize;background:#333;padding:10px;counter-reset:kkk;} 

/*
#css-stroke-container div {counter-increment: kkk}
#css-stroke-container div:before {content:counter(kkk);position:absolute;margin-left:-1em;color:#fff;z-index: 2}
*/

.cssstroke1 {-webkit-text-stroke: 2px #000; text-stroke: 2px #000; }

.cssstroke2 {text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.cssstroke3 {text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; }

.cssstroke4 {text-shadow: 1px 1px 1px rgba(255,255,255,.8),3px 3px 3px #000; color:#333;background: #fff;}

.cssstroke5 {text-shadow: 1px 1px 1px rgba(255,255,255,.8),3px 3px 3px #000; }

.cssstroke6 {position: relative;color:#000;}
.cssstroke6:after {content:'css text stroke 文字边框';color:#fff;position: absolute;left:-2px;top:-2px;}

.cssstroke7 {-webkit-text-fill-color: transparent; -webkit-text-stroke:2px #000;}

.cssstroke8 { background: -webkit-linear-gradient(#000, #333);  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;position:relative;}
.cssstroke8:after {content:'css text stroke 文字边框';;position: absolute;left:-5px;top:-5px;-webkit-text-fill-color: #fff;z-index:1;}

.cssstroke9 span {position:relative;color:#000;display: inline-block;}
.cssstroke9 span:after {content:attr(data-t);color:#fff;position: absolute;-webkit-transform:scale(.9,.9);left:-2px;top:-1px;-webkit-transform-origin:0 50%;}