.google-ajax-indi-2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 100%;
  background-color: #f90;
}
.google-ajax-indi-2 div {
  position: absolute;
  left: 0;
  top: 0;
}
.google-ajax-indi-2 .d1 b {
  position: absolute;
  border-radius: 100%;
  background-color: red;
  width: 30px;
  height: 30px;
}
.google-ajax-indi-2 .d1 .b1 {
  clip: rect(0 15px 30px 0);
  -webkit-animation: zb1 3s infinite forwards;
  -moz-animation: zb1 3s infinite forwards;
  animation: zb1 3s infinite forwards;
}
.google-ajax-indi-2 .d1 .b2 {
  clip: rect(0 30px 30px 15px);
  -webkit-animation: ab1 3s infinite ease-out forwards;
  -moz-animation: ab1 3s infinite ease-out forwards;
  animation: ab1 3s infinite ease-out forwards;
}
.google-ajax-indi-2 .d2 b {
  position: absolute;
  border-radius: 100%;
  background-color: green;
  width: 30px;
  height: 30px;
}
.google-ajax-indi-2 .d2 .b1 {
  clip: rect(0 30px 15px 0);
  -webkit-animation: zb2 3s infinite forwards;
  -moz-animation: zb2 3s infinite forwards;
  animation: zb2 3s infinite forwards;
}
.google-ajax-indi-2 .d2 .b2 {
  clip: rect(15px 30px 30px 0);
  -webkit-animation: ab2 3s infinite ease-out forwards;
  -moz-animation: ab2 3s infinite ease-out forwards;
  animation: ab2 3s infinite ease-out forwards;
}
.google-ajax-indi-2 .d3 b {
  position: absolute;
  border-radius: 100%;
  background-color: blue;
  width: 30px;
  height: 30px;
}
.google-ajax-indi-2 .d3 .b1 {
  clip: rect(0 1px 0);
  -webkit-animation: ab3 3s infinite ease-out forwards;
  -moz-animation: ab3 3s infinite ease-out forwards;
  animation: ab3 3s infinite ease-out forwards;
}
.google-ajax-indi-2 .d3 .b2 {
  clip: rect(0 30px 30px 15px);
  -webkit-animation: zb3 3s infinite forwards;
  -moz-animation: zb3 3s infinite forwards;
  animation: zb3 3s infinite forwards;
}
.google-ajax-indi-2 .d4 b {
  position: absolute;
  border-radius: 100%;
  background-color: #f90;
  width: 30px;
  height: 30px;
}
.google-ajax-indi-2 .d4 .b1 {
  clip: rect(0 30px 15px 0);
  -webkit-animation: ab4 3s infinite ease-out forwards;
  -moz-animation: ab4 3s infinite ease-out forwards;
  animation: ab4 3s infinite ease-out forwards;
}
.google-ajax-indi-2 .d4 .b2 {
  clip: rect(15px 30px 30px 0);
  -webkit-animation: zb4 3s infinite forwards;
  -moz-animation: zb4 3s infinite forwards;
  animation: zb4 3s infinite forwards;
}
/*修复毛边*/
.google-ajax-indi-2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /*box-sizing:border-box;*/

  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 2px #fff;
  margin-left: -2px;
  margin-top: -2px;
}
/*frames 4 webkit*/
@-webkit-keyframes ab1 {
  75% {
    -webkit-transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-90deg);
  }
}
@-webkit-keyframes zb1 {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ab2 {
  50% {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  75% {
    -webkit-transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-webkit-keyframes zb2 {
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ab3 {
  25% {
    -webkit-transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(-90deg);
  }
}
@-webkit-keyframes zb3 {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ab4 {
  0% {
    -webkit-transform: rotateX(0);
  }
  25% {
    -webkit-transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-webkit-keyframes zb4 {
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*frames 4 firefox*/
@keyframes ab1 {
  75% {
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
@keyframes zb1 {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ab2 {
  50% {
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  75% {
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@keyframes zb2 {
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ab3 {
  25% {
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  100% {
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
}
@keyframes zb3 {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ab4 {
  0% {
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  25% {
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@keyframes zb4 {
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
