/*html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #d35400;
  padding: 0;
  margin: 0;
  color: #fff;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5em;
  text-align: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  -webkit-transition: background-color 0.6s ease-in-out 0s;
  transition: background-color 0.6s ease-in-out 0s;
}*/

.active2 { background-color: #2c3e50 }
.active3 { background-color: #1abc9c }
.active4 { background-color: #2980b9 }
.active5 { background-color: #7f8c8d }
.active6 { background-color: #f1c40f }
.active7 { background-color: #d35400 }
.active8 { background-color: #27ae60 }

a {
  color: #fff;
  text-decoration: none;
}

#preview-area {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0; left: 0; bottom: 60px; right: 0;
  margin: auto auto;
  
  -webkit-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;
}

#spinners {
  width: 1000px;
  height: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 0;
  
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.active2 #spinners { 
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
.active3 #spinners { 
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
.active4 #spinners { 
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}
.active5 #spinners { 
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}
.active6 #spinners { 
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}
.active7 #spinners { 
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}
.active8 #spinners { 
  -webkit-transform: translateX(-700px);
  transform: translateX(-700px);
}
.active9 #spinners { 
  -webkit-transform: translateX(-800px);
  transform: translateX(-800px);
}

#spinners li {
  height: 60px;
  width: 60px;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  margin-right: 40px;
  display: inline-block;
  visibility: hidden;
  position: relative;
  
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#spinners .selected {
  opacity: 1;
  visibility: visible;
}

.navigation-arrow {
  position: absolute;
  top: 0;
  bottom: 70px;
  width: 28px;
  height: 42px;
  margin: auto 0;
  z-index: 1000;
  cursor: pointer;
  padding: 20px 10px;
  
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

#prev {
  left: 10px;
  -webkit-transform: rotateZ(180deg) scale(0.8);
  transform: rotateZ(180deg) scale(0.8);
}

.active1 #prev, .active8 #next {
  opacity: 0;
  pointer-events: none;
}

#next {
  right: 10px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#next:hover {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}

#prev:hover {
  -webkit-transform: scale(1.0) rotateZ(180deg);
  transform: scale(1.0) rotateZ(180deg);
}

.source {
  font-weight: 300;
  font-size: 16px;
  padding: 5px 7px;
  display: inline-block;
  margin: 30px 0 0;
  position: relative;
  
  -webkit-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;
  
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.code {
  position: absolute;
  top: 5px;
  left: -18px;
}

.code img {
  border: 0;
}

.code img:first-child {
  margin-right: 2px;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 60px;
}

.profile-link {
  position: absolute;
  left: 15px;
  bottom: 14px;
  height: 60px;
  padding-left: 55px;
  background: url(/images/spinners/profile@2x.png) 0 center no-repeat;
  background-size: 50px 50px;
  z-index: 100;
}

.view-on-github {
  position: absolute;
  right: 25px;
  bottom: 14px;
  height: 60px;
  z-index: 100;
  padding-left: 27px;
  background: url(/images/spinners/github@2x.png) 0 center no-repeat;
  background-size: 20px 20px;
}

.underline {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 2px;
  bottom: 35%;
  right: 0;
  background-color: #fff;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

a:hover .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.pagination {
  width: 100%;
  bottom: 7px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 0;
  height: 60px;
  z-index: 10;
}

.pagination li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination a {
  display: block;
  padding: 15px 4px;
}

.pagination span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.pagination a:hover span {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.pagination a.selected span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#source-frame > ul {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0,0,0,0.3);
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#source-frame.visible > ul {
  opacity: 1;
  visibility: visible;
}

#source-frame li {
  position: absolute;
  height: 80%;
  width: 94%;
  max-width: 980px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1200;
  opacity: 0;
  visibility: hidden;
  
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  
  -webkit-transform: scale(0);
  transform: scale(0);
}

#source-frame.visible .visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#source-frame li::after {
  z-index: 1300;
  content: "HTML";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 3px;
}

#source-frame li::before {
  z-index: 1300;
  content: "CSS";
  position: absolute;
  top: 110px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 3px;
}

#source-frame textarea {
  width: 100%;
  height: 74%;
  margin: 0;
  border: 0;
  display: block;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  cursor: text;
  font-size: 14px;
  font-family: Consolas, "Courier New", Courier, monospace;
  outline: 0;
  resize: none;
  border-radius: 0;
}

#source-frame .html-code {
  height: 100px;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#source-frame .css-code {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#source-frame textarea:hover {
  background-color: #fcfcfc;
}

@media (max-width: 650px) {
  .pagination {
    display: none;
  }
}

@media (max-width: 400px) {
  .profile-link {
    text-indent: -999em;
    font-size: 0;
  }
  
  .profile-link .underline {
    display: none;
  }
  
  #source-frame textarea {
    font-size: 13px;
  }
}

/********* Animations *********/

/*** Rotating-plane ***/

.rotating-plane {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*** Double Bounce ***/

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0)
  }
}

/*** Rectangle Bounce ***/

.rectangle-bounce {
  text-align: center;
}

.rectangle-bounce div {
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  background-color: #fff;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.rectangle-bounce .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.rectangle-bounce .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.rectangle-bounce .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.rectangle-bounce .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0) 
  }
}

/*** Wandering Cubes ***/

.cube1, .cube2 {
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*** Chasing dots ***/

#spinners .chasing-dots {
  position: relative;
  text-align: center;
  margin-right: 30px;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.chasing-dots .dot1, .chasing-dots .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.chasing-dots .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}

@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

/***** Pulse *****/

.pulse {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #fff;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

/***** Three-bounce ***/

#spinners .three-bounce {
  text-align: center;
  font-size: 26px;
  position: relative;
  top: -26px;
  width: 80px;
  margin-right: 30px;
}

.three-bounce div {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #fff;
  
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
}

.three-bounce .one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.three-bounce .two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/***** Circle spinner ***/

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
}

.circle-spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
